.container {
  background-color: rgb(186, 235, 218);
  border-radius: 10px;
  border: solid rgb(84, 126, 100);
  margin: 200px auto;
  padding: 20px auto;
  width: 400px;
  height: 200px;
  display: flex;
  flex-flow: column;
}

.container span {
  font-size: 2em;
  display: block;
  margin: 20px auto;
}

.container .button {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.button button {
  width: 100px;
  height: 30px;
  margin: 20px;
  border-radius: 10px;
  font-size: 1em;
}
